@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Whoops! Looks like we messed something up!</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

    <p>
        Please return to the home screen and try again. If issues persist please contact us!
        <a asp-area="" asp-controller="Home" asp-action="Index">WAM</a>
        <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
    </p>
