@{
    ViewData["Title"] = "Contact WAM";
}
<h3>@ViewData["Message"]</h3>

<address>
    2600 Clifton Ave<br />
    Cincinnati, OH 45221<br />
</address>
<!---->
<address>
    <strong>Contact Developer for Support:</strong> <a href="mailto:holzmaad@mail.uc.edu">Holzmad@mail.uc.edu</a><br />
</address>
