@{
    ViewData["Title"] = "Home Page";
}
<h1></h1>
@*<div style="display:block;margin-top:3em;margin-left:auto;margin-right:auto;width:50%">
    <img src="~/images/WAMlogo.png" id="wam-logo" alt="WAM_Logo" class="img-wam-logo" />

</div>
<div class="row">
    <div class="col-md-10">
        <h3 style="display:block;margin-top:2em;margin-left:auto;margin-right:auto;width:75%">
            Your one-stop shop for automation management and reporting
        </h3>
    </div>
</div>*@
<div>
    <div class="row">
        <div class="col-md-12" style="margin-bottom:1em">
            <h1>
                Your one-stop shop for automation management
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">

            <div style="display:block;margin-left:auto;margin-right:auto;width:100%">
                <img src="~/images/WAMlogo.png" id="wam-logo" alt="WAM_Logo" class="img-wam-logo" />
            </div>

        </div>
        <div class="col-md-6">
            <h3>Job/Task Management</h3>
            <ul>
                <li><a asp-area="" asp-controller="WindowsTasks" asp-action="Index">Manage Windows Tasks</a></li>
                <li><a asp-area="" asp-controller="SqlJobs" asp-action="Index">Manage SQL Agent Jobs</a></li>
                <li><a asp-area="" asp-controller="CustomJobs" asp-action="Index">Manage Custom Script Tasks</a></li>
            </ul>
            <h3>Analysis/Reporting + Historical Data</h3>
            <ul>
                <li><a asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
                <li><a asp-area="" asp-controller="Dashboard" asp-action="SqlJobHistory">SQL Agent History</a></li>
                <li><a asp-area="" asp-controller="Dashboard" asp-action="CustomJobHistory">Custom Job History</a></li>
            </ul>
        </div>
    </div>
</div>


