@model AutomationManager.Models.CreateJobStepViewModel


    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <label asp-for="Command" class="control-label"></label>
        <textarea asp-for="Command" class="form-control"></textarea>
    </div>

