@model AutomationManager.Models.CreateJobViewModel

@{
    CreateJobViewModel m = new CreateJobViewModel();
}
<h4>CreateJobViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateJob">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Server" class="control-label"></label>
                <input asp-for="Server" class="form-control" />
                <span asp-validation-for="Server" class="text-danger"></span>
            </div>
            @*<h3>Job Schedule</h3>
            @{
                JobScheduleViewModel jssvm = new JobScheduleViewModel();
                m.Schedule = jssvm;
                await Html.RenderPartialAsync("JobSchedule", m.Schedule);

            }*@
            <h3>Job Schedule</h3>
            <partial name="JobSchedule" for="Schedule" model="Schedule"/>
            <h3>Job Steps</h3>
            @{ 
                CreateJobStepViewModel cjsvm = new CreateJobStepViewModel();
                m.Step = cjsvm;
                await Html.RenderPartialAsync("CreateJobStep", m.Step);
            }
            <div class="form-group">

                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(function () {
            $('#timepicker').timepicker({
                timeFormat: 'hh:mmp',
                interval: 15,
                dynamic: false,
                dropdown: true,
                scrollbar: true
            });
        });

    </script>
}
