
@model AutomationManager.Models.JobScheduleViewModel

<tr>
    <div class="form-group">

        @*<label asp-for="Name" class="control-label"></label>*@
        <label for="Name">Schedule Name</label>
        <input asp-for="Name" class="form-control" />
        @*<label asp-for="SelectedDays" class="control-label"></label>*@
        <label for="Name">Run On</label>
        @*<input asp-for="TriggerType" class="form-control" value="Custom" readonly/>*@
        <select asp-for="DaysOfWeek" asp-items="Model.DaysOfWeek" id="days-of-week-select" class="form-control"></select>


        <label for="RunTime">Run Time</label>
        <input id="timepicker" class="form-control"/>
    </div>
</tr>
